<body> 
    <div class="row">
        	<div class="test col-md-4">
        	</div>
        	<div class="test2 col-sm-8">
        		<h1 style="margin-top: 2em; color: white; font-size: 3em">Calendar</h1>
        	</div>
    </div>

    <div class="row">
        	<div class="test3 col-md-4">
        		<p class="time">9AM - 12PM </p>
        	</div>
        	<div class="test4 col-sm-8">
        		<div class="desk" id="orbs">
                	<i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
                </div>
                <div class="team" id="orbs">
                	<i class="fa fa-users fa-5x" aria-hidden="true"></i>
                </div>
        	</div>
    </div>

    <div class="row">
        	<div class="test5 col-md-4">
        		<p class="time">12PM - 3PM</p>
        	</div>
        	<div class="test4 col-sm-8">
                <div class="desk">
                	<i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
                </div>
        	</div>
    </div>

    <div class="row">
        	<div class="test7 col-md-4">
        		<p class="time">3PM - 5PM</p>
        	</div>
        	<div class="test8 col-sm-8"></div>
    </div>
 
</body>
