
<body class= "welcome">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	        	<div>
		            <div class="wrap">

		                <p class="form-title" style="font-size:25px;" > <bold> Jina's Vision</bold></p>
		                <p class="form-title-welcome">To expose every middle school student to the world of a software engineer and get students interested in learning more about technology, the main driver of innovation. </p><p class="form-title-welcome"> Welcome to the world of an engineer! </p> 

		            </div>
			    </div>        
	        </div>
				
	    </div>
	</div>
</body>

<!-- NEED TO ADD PADDIGN -->
<section class=" video-section">
  <div class="pattern-overlay">
    <!-- <div class="container"> -->
      <!-- <div class="row"> -->
        <!-- <div class="col-md-12"> -->
            <div>
            	<h1></h1>
        	</div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class=" video-section" class="container">
    <div class="row">
        <div align="middle" class=" panel-default modal-dialog">
            <div >
                <button src="video.html.erb" color=blue class="btn btn-info btn-lg btn-block"  > <%= link_to "Let's get started!", video_path %> </button>


              <!--  <button src="" color=blue class="btn btn-info btn-lg btn-block">Start</button> -->

           
            </div>
        </div>
        
    </div>
</div>

