
<body class= "welcome">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	        	<div>
		            <div class="wrap">

		                <p class="form-title">Welcome to Jina</p>
		                <p class="form-title"> If you want to learn more about us hit the about us button, otherwise let's get started </p> 

		            </div>
			    </div>        
	        </div>
				
	    </div>
	</div>
</body>

<!-- NEED TO ADD PADDIGN -->
<section class=" video-section">
  <div class="pattern-overlay">
    <!-- <div class="container"> -->
      <!-- <div class="row"> -->
        <!-- <div class="col-md-12"> -->
            <div>
            	<h1></h1>
        	</div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BUTTON PART -->

<div class=" video-section" class="container">
    <div class="row">
        <div align="middle" class=" panel-default modal-dialog">
            <div >
                <button src="video.html.erb" color=blue class="btn btn-info btn-lg btn-block"  > <%= link_to "Start", video_path %> </button>


           		<!--  <button src="" color=blue class="btn btn-info btn-lg btn-block">Start</button> -->

           
            </div>
        </div>
        
    </div>
</div>

