
<!-- <video controls="controls" height="240" width="320"><source src="video/trailer_test.mp4" /></video> -->
<h1> Welcome to Jina </h1>

<div align="middle"> 
	<iframe align="middle" width="560" height="315" src="https://www.youtube.com/embed/o2BpY8rpKCE" frameborder="0" allowfullscreen></iframe>
</div>

<div>
	<button>Sign Up</button>
</div>