
<body class= "welcome">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	        	<div>
		            <div class="wrap">
		                  
		            </div>
			    </div>        
	        </div>
				
	    </div>
	</div>
</body>

<!-- VIDEO PART -->
<div id="full-video">
<!--Video Section-->
<section class="content-section video-section">
  <div class="pattern-overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <div>
            	<h1><iframe width="700" height="515" src="https://www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen></iframe></h1>
        	</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Video Section Ends Here-->
</div>


<!-- BUTOON PART -->

<div class="container">
    <div class="row">
        <div class=" panel-default modal-dialog">
            <div >
                <button src="video.html.erb" color=blue class="btn btn-info btn-lg btn-block"  > <%= link_to "Continue", map_path %> </button>
           
            </div>
        </div>
        
    </div>
</div>