


<body class= "team1">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	        	<div>
		            <div class="wrap">

		                <p class="smaller" style="font-size:20px;">Team</p>
		                <div class="container">
					    <div class="row">
					        <div class=" panel-default ">
					            <div >
					               <!--   <div align="middle"><iframe width="560" height="315" src="https://www.youtube.com/embed/SCyFxcMsjnA" frameborder="0" allowfullscreen></iframe></div> -->

					        </div>
					    </div>
					        

		            </div>
			    </div>        
	        </div>
				
	    </div>
	</div>
</body>
<div align="middle" class="team1"class="row">

    <div align="middle"  class="col-lg-12">
        <h1 class="page-header"></h1>
    
           <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <a class="thumbnail"  data-image-id="" data-toggle="modal" data-title="Technical Manager" data-caption="Your manager is in charge of leading the team and making sure that deadlines are met with projects. Your manager also ensures that you have opportunities to advance and grow as a software engineer." data-image="../managerw.jpeg" data-target="#image-gallery">
                <img class="img-responsive" src="../managerw.jpeg" alt="Short alt text">
            </a>
             <p class="smaller" style="font-size:20px;">Technical Manager</p>

        </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" data-image-id="" data-toggle="modal" data-title="Software Engineer Mentor" data-caption="Your technical mentor is someone who helps you navigate through the company when you start. They also update you on the culture of the team and help you with technical issues." data-image="../mentorjani.jpg" data-target="#image-gallery">
                <img class="img-responsive" src="../mentorjani.jpg" alt="A alt text">
            </a>
                        <p class="smaller" style="font-size:20px;">Software Engineer Mentor</p>

        </div>
           
              <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" data-image-id="" data-toggle="modal" data-title="Technical Team" data-caption="Your team is responsible for creating products in the company. These are the people with who you pair program to create amazing projects. They are your support when you are stuck in your code." data-image="../teamforjani.jpg" data-target="#image-gallery">
                <img class="img-responsive" src="../teamforjani.jpg" alt="Short alt text">
            </a>
            <p class="smaller" style="font-size:20px;">Technical Team</p>

        </div>

         <!-- <div class="col-lg-4 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#" data-image-id="" data-toggle="Your team is responsible for creating products in the company. These are the people with who you pair program to create amazing projects. They are your support when you are stuck in your code." data-image="../teamforjani.jpg" data-target="#image-gallery" >
                <img class="img-responsive" src="../teamforjani.jpg" alt="Another alt text">
            </a>
        </div> -->
</div>


<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="image-gallery-title"></h4>
            </div>
            <div class="modal-body">
                <img id="image-gallery-image" class="img-responsive" src="">
            </div>
            <div class="modal-footer">

                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" id="show-previous-image">Previous</button>
                </div>

                <div class="col-md-8 text-justify" id="image-gallery-caption">
                    Refresh page
                </div>

                <div class="col-md-2">
                    <button type="button" id="show-next-image" class="btn btn-default">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- BUTOON PART -->

<div class="container">
    <div class="row">
        <div class=" panel-default modal-dialog">
            <div >
                <button color=blue class="btn btn-info btn-lg btn-block"  > <%= link_to "Continue", desk_path %> </button>
           
            </div>
        </div>
        
    </div>
</div>




