/*@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);*/
.map {
  background: url('../map_2.jpeg') fixed;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.wrap {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

p.form-title {
  font-family: 'Open Sans' , sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFF;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.desk:hover{
  opacity: 0.6;
}

.desk {
  background-color: #0F0;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-left: 30%;
  margin-top: 7%;
  position: absolute;
}

.desk i {
  color: #FFF;
  display: block;
  text-align: center;
  margin-left: auto;
  padding-top: 25%;
  }

.team:hover{
  opacity: 0.6;
}

.team {
  background-color: #F00;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-left: 60%;
  margin-top: 7%;
  position: absolute;
}

.team i {
  color: #FFF;
  display: block;
  text-align: center;
  margin-left: auto;
  padding-top: 25%;
}

.food:hover{
  opacity: 0.6;
}

.food {
  background-color: #0FF;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-left: 15%;
  margin-top: 25%;
  position: absolute;
}

.food i{
  color: #FFF;
  display: block;
  text-align: center;
  margin-left: auto;
  padding-top: 25%;
}

.calendar:hover{
  opacity: 0.6;
}

.calendar {
  background-color: #F0F;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-left: 45%;
  margin-top: 25%;
  position: absolute;
}

.calendar i{
  color: #FFF;
  display: block;
  text-align: center;
  margin-left: auto;
  padding-top: 25%;
}

.explore:hover{
  opacity: 0.6;
}

.explore {
  background-color: #0FF;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  margin-left: 75%;
  margin-top: 25%;
  position: absolute;
}

.explore i{
  color: #FFF;
  display: block;
  text-align: center;
  margin-left: auto;
  padding-top: 25%;
}