
<body class= "welcome">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	        	<div>
		            <div class="wrap">

		                <p class="form-title">DESK </p> 

		            </div>
			    </div>        
	        </div>
				
	    </div>
	</div>
</body>

<!-- BUTTON -->
<div class="container">
    <div class="row">
        <div class=" panel-default modal-dialog">
            <div >
                <button color=blue class="btn btn-info btn-lg btn-block"  > <%= link_to "Continue", calendar_path %> </button>
           
            </div>
        </div>
        
    </div>
</div>