<body class="map">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">

	            <div class="wrap">
	                <p class="form-title">Map Page</p>
	                
	                <div class="desk">
	                	<i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
	                </div>

	                <div class="team">
	                	<i class="fa fa-users fa-5x" aria-hidden="true"></i>
	                </div>

	                <div class="food">
	                	<i class="fa fa-cutlery fa-5x" aria-hidden="true"></i>
	                </div>

	                <div class="calendar">
	                	<i class="fa fa-calendar fa-5x" aria-hidden="true"></i>
	                </div>

	                <div class="explore">
	                	<i class="fa fa-globe fa-5x" aria-hidden="true"></i>

	                </div>

	            </div>
				
	        </div>
	    </div>
	</div>
	<script src="https://use.fontawesome.com/8bccb154dc.js"></script>
</body>