<body class="map">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">

	            <div class="wrap">
	                <p class="form-title">Map Page</p>
	                
	                <div class="desk">
	                	<p>Desk</p>
	                </div>

	                <div class="team">
	                	<p>Team</p>
	                </div>

	                <div class="food">
	                	<p>Food</p>
	                </div>

	                <div class="calendar">
	                	<p>Calendar</p>
	                </div>

	                <div class="explore">
	                	<p> Explore </p>

	                </div>

	            </div>
				
	        </div>
	    </div>
	</div>
</body>