
<body class= "explore1">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	        	<div>
		            <div class="wrap">

		                <p class="smaller" style="font-size:20px;">Explore</p>
		                <p class="smaller"> What is a hackathon?</p> 
		                <p class="smaller" align="middle" style="font-size:15px;">A hackathon (also known as a hack day) is an event in which computer programmers and others involved in software development, including graphic designers, interface designers and project managers, collaborate on software projects. Hackathons typically last between a day and a week.</p >
		                <p class="smaller" align="middle" style="font-size:15px;" > Some hackathons are intended simply for educational or social purposes, although in many cases the goal is to create usable software.</p>

		                <div class="container">
					    <div class="row">
					        <div class=" panel-default ">
					            <div >
					                 <div align="middle"><iframe width="560" height="315" src="https://www.youtube.com/embed/SCyFxcMsjnA" frameborder="0" allowfullscreen></iframe></div>s<div >
                <button color=blue class="btn btn-info btn-lg btn-block"  > <%= link_to "Finish Line", map_path %> </button>
           
            </div>

					        </div>
					    </div>
					        

		            </div>
			    </div>        
	        </div>
				
	    </div>
	</div>
</body>



<!-- BUTTON -->
<div class="container">
    <div class="row">
        <div class=" panel-default modal-dialog">
            
        </div>
        
    </div>
</div>
